#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_content {
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}

/* hacks */

#popup_panel input{
	color: #666;
	margin: 0px;
	padding: 2px;
	display: inline;
	border: 1px solid #999;
	width: auto;
	height: auto;
	font-size: 12px;
}

#popup_panel input:focus{
	border: 1px solid #999;
}

.nav {
	margin: 1em auto;
	width: 890px;
	padding: 1em;
	border: 1px solid green;
}

h3 {
	text-align: center;
	margin: 0.5em 0;
	border-bottom: 1px solid blue;
}

h4 {
	text-align: center;
	margin: 0;
	border-bottom: 1px solid blue;
}
h5 {
	text-align: center;
	margin: 1px;
	font-size: 16px;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
}
.center {
	margin: 1px auto;
	width: 920px;
	border: 1px solid blue;
}
.data {
	border-collapse: collapse;
	width: 100%;
	margin: 0 1px 1em 1px;
	border: 1px solid #3E80B0
}
.title {
	margin: 1px auto;
	width: 920px;
	border: 1px solid blue;
	text-align: center;
	font-weight: bold;
}
a:active, nav a:visited {
    color: black;
}
a:link, a:visited, a:hover {
    color: #48802c;
}
input, select {
	margin: 0px;
	border: 1px solid #ccc;
    padding: 2px;
	border-radius: 4px;
    font-size: 1em;
}
input[type=submit], button {
	margin: 2px;
	padding: 5px 15px;
    background: #ccc;
    border: 2px solid green;
    border-radius: 5px;
	background-color: white;
    color: #48802c;
    cursor: pointer;
    text-decoration: underline;
	font-size: 1em;
}
label {
	font-weight: bold;
}
fieldset {
	border: 2px solid black;
	border-radius: 5px;
}
tbody {
	padding: 0;
	margin: 0;
	border: 1px solid #3E80B0;
}
tr {
	padding: 0;
	margin: 0;
	border: 1px solid #3E80B0;
}

td, th {
	padding: 0;
	margin: 0;
	text-align: left;
	border: 1px solid #3E80B0;
}

th {
	background-color: #7AA1D2;
}

tr.line:nth-of-type(odd), div.line:nth-of-type(odd), section:nth-of-type(odd) {
	background-color: #BAFCA7;
	border-top-color: #165E29;
	border-left-color: #165E29;
	border-right-color: #165E29;
}
tr.line:nth-of-type(even), div.line:nth-of-type(even), section:nth-of-type(even) {
	background-color: #DDFFDD;
	border-top-color: #009900;
	border-left-color: #009900;
	border-right-color: #009900;
}
div.line {
	border-bottom: 1px solid blue;
}
div.line:first-of-type, section:first-of-type {
	margin-top: 1px;
	border-top: 1px solid blue;
}
div.line:last-of-type, section:last-of-type {
	margin-bottom: 1px;
}
section ul {
	margin: 0;
}
.post {
	min-height: 50px;
}
.mask {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha(opacity=70);
}
.mask_show {
	position: absolute;
	top: 25%;
	left: 22%;
	width: 53%;
	height: 49%;
	padding: 8px;
	border: 8px solid #E8E9F7;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
.range_low {
	background-color: DarkSeaGreen;
}
.range_high {
	background-color: pink;
}